@import './base.css';

#app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: gray;
  }
}

