footer {
  display: flex;
  flex-direction: column;
  // margin-top: 200px;
  // height: 20vh;
  position: fixed;
  color: rgb(188, 188, 188);
  top: 85%;
  left: 35.5%;
  font-size: 90%;
  // transform: translateY(-100%);
  & a{
    text-decoration: none;
    color: rgb(188, 188, 188);
    font-family: 'NotoSansKR';
  }
  & span{
    color: rgb(188, 188, 188);
    font-family: 'NotoSansKR';
  }
  & .footer-contact {
    margin-top: 1vh;
  }
}