// img {
//   width: 20px;
//   height: auto;
// }
// .eye {
//   position: absolute;
//   margin-left: 140px;
//   margin-top: 13px;
//   transform: translateY(-50%);
//   border: none;
//   background: transparent;
//   cursor: pointer;
// }
// .form-wrap {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .p {
//   margin-left: 150px;
//   margin-top: 100px;
// }
// .enlarge {
//   margin-left: 1100px;
//   width: 100px;
//   border-radius: 40px;
//   border: rgb(108, 159, 156) solid 2px;
//   background-color: white;
  
// }
// .input-with-label {
//   position: relative;
//   display: flex;
//   margin: 10px;

// }

// input {
//   width: 170px;
  
// }

// .submit1 {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

// }
// .kakaoLogin {
//   margin-top: -10px;
//   margin-left: 10px;

// }

// .btn-bottom{
//   margin-left: 12px;

// }



.btn-bottom {
  border-radius: 10px;
  border: 2px solid lightgray;
  background: lightgray;
  }
  
  .input {
  border: rgb(108, 159, 156) solid 2px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  }
  
  .Flexbox {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; 
  height: 100vh;
  
  }
  
  // .p {
  // margin-left: 150px;
  // margin-top: 100px;
  // }
  
  .enlarge {
  width: 100px;
  position: fixed;
  top: 5%;
  right: 85%;
  border-radius: 20px;
  border: rgb(108, 159, 156) solid 2px;
  background-color: none;
  
  }
  .eye-icon {
  position: absolute;
  right: 30px;
  top: 25px;
  // margin-left: 140px;
  // margin-top: 13px;
  transform: translateY(-115%);
  border: none;
  background: transparent;
  cursor: pointer;
    & :hover {
      color: gray;
    }
  }
  
  img {
  width: 20px;
  height: auto;
  }
  
  /*********************************************************/
  
  
  :root {
  --primary-color: rgb(108, 159, 156);
  --secondary-color: rgb(108, 159, 156);
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;
  
  --facebook-color: #4267B2;
  --google-color: #DB4437;
  --twitter-color: #1DA1F2;
  --insta-color: #E1306C;
  }
  
  
  * {
    font-family: 'MapoFlowerIsland';
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
  height: 100vh;
  overflow: hidden;
  }
  
  .container {
  position: relative;
  min-height: 100vh;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  }
  
  .row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  }
  
  .col {
  width: 70%;
  height: -70%;
  }
  
  .align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }
  
  .form {
  padding: 35px 75px;
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(71, 71, 71, 0.35) 25px 20px 25px;
  transform: scale(0);
  transition: .5s ease-in-out;
  transition-delay: 0.2s;
  margin-bottom: 1vh;
  margin-top: -80vh;
  background-color: #ffffff;
  }
  
  // .form-wrapper {
  //   height: 70vh;
  // }
  
  .input-group {
  position: relative;
  width: 100%;
  margin: 6% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
}

.input-group input {
  width: 100%;
  // padding: 1rem 3rem;
  font-size: 1rem;
  background-color: var(--gray);
  border-radius: .5rem;
  border: 0.125rem solid var(--white);
  outline: none;
  margin-bottom: 10px;
  }
  
  .input-group input:focus {
  border: 0.125rem solid var(--primary-color);
  }
  

  .form button {
  cursor: pointer;
  width: 100%;
  padding: 8px 50px;
  margin-bottom: 10px;
  border-radius: .5rem;
  border: none;
  background-color: lightgray;
  color: black;
  font-size: 0.8rem;
  outline: none;
  }
  
  .form button:hover {
  background-color: rgb(108, 159, 156);
  color: white;
  }
  
  .form p {
  margin: 1rem 0;
  font-size: .7rem;
  }
  
  .flex-col {
  flex-direction: column;
  }
  
  .forgot {
    text-decoration: none;
    color: rgb(63, 63, 63);
  }
  
  // .social-list {
  // margin: 2rem 0;
  // padding: 1rem;
  // border-radius: 1.5rem;
  // width: 100%;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // transform: scale(0);
  // transition: .5s ease-in-out;
  // transition-delay: 1.2s;
  // }
  
  // .social-list>div {
  // color: var(--white);
  // margin: 0 .5rem;
  // padding: .7rem;
  // cursor: pointer;
  // border-radius: .5rem;
  // cursor: pointer;
  // transform: scale(0);
  // transition: .5s ease-in-out;
  // }
  
  // .social-list>div:nth-child(1) {
  // transition-delay: 1.4s;
  // }
  
  // .social-list>div:nth-child(2) {
  // transition-delay: 1.6s;
  // }
  
  // .social-list>div:nth-child(3) {
  // transition-delay: 1.8s;
  // }
  
  // .social-list>div:nth-child(4) {
  // transition-delay: 2s;
  // }
  
  // .social-list>div>i {
  // font-size: 1.5rem;
  // transition: .4s ease-in-out;
  // }
  
  // .social-list>div:hover i {
  // transform: scale(1.5);
  // }
  
  // .facebook-bg {
  // background-color: var(--facebook-color);
  // }
  
  // .google-bg {
  // background-color: var(--google-color);
  // }
  
  // .twitter-bg {
  // background-color: var(--twitter-color);
  // }
  
  // .insta-bg {
  // background-color: var(--insta-color);
  // }
  
  .pointer {
  cursor: pointer;
  }
  
  .container.sign-in .form.sign-in,
  .container.sign-in .social-list.sign-in,
  .container.sign-in .social-list.sign-in>div,
  .container.sign-up .form.sign-up,
  .container.sign-up .social-list.sign-up,
  .container.sign-up .social-list.sign-up>div {
  transform: scale(1);
  }
  
  
  .content-row {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
  }
  
  .text {
  margin: 4rem;
  color: var(--white);
  }
  
  .text label {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0;
  transition: 1s ease-in-out;
  color: white;
  }
  
  .text p {
  font-weight: 500;
  transition: 1s ease-in-out;
  transition-delay: .2s;
  }
  
  .img img {
  width: 30vw;
  transition: 1s ease-in-out;
  transition-delay: .4s;
  }
  
  // .text.sign-in h2,
  // .text.sign-in p,
  // .img.sign-in img {
  // transform: translateX(-280%);
  // color: white;
  // font-family: 'MapoFlowerIsland';
  // }
  
  .text.sign-up h2,
  .img.sign-up img {
  transform: translateX(350%);
  position: absolute;
  color: white;
  font-family: 'NotoSerifKR';
  right: 50px;
  flex-wrap: wrap;
  transition-delay: 2s;
  }
  // .text.sign-up p {
  //   transform: translateX(280%);
  //   position: absolute;
  //   color: white;
  //   font-family: 'MapoFlowerIsland';
  //   top: 400px;
  //   right: 50px;
  //   flex-wrap: wrap;
  // }
  
  .container.sign-in .text.sign-in h2,
  .container.sign-in .text.sign-in p,
  .container.sign-in .img.sign-in img,
  .container.sign-up .text.sign-up h2,
  .container.sign-up .text.sign-up p,
  .container.sign-up .img.sign-up img {
  transform: translateX(0);
  }

  
  /* BACKGROUND */
  
  .container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300vw;
  transform: translate(35%, 0);
  background-color: rgb(108, 159, 156);
  /* background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%); */
  transition: 2s ease-in-out;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
  }
  
  .container.sign-in::before {
  transform: translate(0, 0);
  right: 50%;
  }
  
  .container.sign-up::before {
  transform: translate(100%, 0);
  right: 35%;
  }
  
  
  .intro-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    margin-left: 1500px;
    padding-top: 43%;
    // margin-top: 500px;
    z-index: 25;
    opacity: 30%;
  }
  


  /* RESPONSIVE */
  
  @media only screen and (max-width: 1000px) {
  
  .container::before,
  .container.sign-in::before,
  .container.sign-up::before {
      height: 100vh;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 0;
      transform: none;
  }
  
  .container.sign-in .col.sign-up {
      transform: translateY(100%);
  }
  
  .container.sign-in .col.sign-in,
  .container.sign-up .col.sign-up {
      transform: translateY(30%);
  }
  
  .content-row {
      align-items: flex-start !important;
  }
  
  .content-row .col {
      transform: translateY(100);
      background-color: unset;
  }

  .col {
      width: 100%;
      position: absolute;
      padding: 2rem;
      background-color: var(--white);
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      transform: translateY(90%);
      transition: 1s ease-in-out;
  }
  
  .row {
      align-items: flex-end;
      justify-content: flex-end;
  }
  
  .form,
  .social-list {
      box-shadow: none;
      margin: 0;
      padding: 0;
  }
  
  .text {
      margin: 0;
  }
  
  .text p {
      display: none;
  }
  
  .text h2 {
      margin: .5rem;
      font-size: 2rem;
  }
  }
