@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/NotoSansKR-Regular.ttf')
}

@font-face {
  font-family: 'NotoSerifKR';
  src: url('@/assets/fonts/NotoSerifKR-Regular.otf')
}

@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('@/assets/fonts/MapoFlowerIsland.ttf')
}